In [1]:
import string
import requests
import requests_cache
from requests_cache import CachedSession
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time
import json
import re
import pandas as pd 
from datetime import datetime, timedelta 
from requests_html import HTMLSession

In [2]:
#Tao cache
def check_cached(response: requests.Response) ->bool :
    if(response.text.find('"incomplete_results":true')==-1):
        return True
    else:
        return False
    
requests_cache.install_cache(expire_after = -1, filter_fn = check_cached)

In [34]:
index = []
country = []
total_cases = []
total_deaths = []
total_recovered = []
active_cases = []
serious_critical = []
tot_cases = []
deaths = []
total_tests = []
tests = []
population = []
region = []
case_every = []
death_every = []
test_every = []

In [3]:
url = "https://www.worldometers.info/coronavirus/#nav-yesterday"

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get(url)
time.sleep(5)

In [6]:
table = driver.find_element_by_xpath("/html/body/div[3]/div[3]/div/div[6]/div[3]/div/table")

In [7]:
soup = BeautifulSoup(driver.page_source, "html.parser")

In [8]:
odd_class = soup.find_all('tr', class_='odd')

In [9]:
odd_class

[<tr class="total_row_world odd" role="row">
 <td></td>
 <td style="text-align:left;">World</td>
 <td class="sorting_1">519,234,788</td>
 <td>+223,644</td>
 <td>6,282,403</td>
 <td>+261</td>
 <td>474,074,201</td>
 <td>+217,852</td>
 <td>38,878,184</td>
 <td>39,260</td>
 <td>66,613</td>
 <td>806.0</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 </tr>,
 <tr class="total_row_world row_continent odd" data-continent="Asia" role="row" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td class="sorting_1">149,506,980</td>
 <td>+155,534</td>
 <td>1,427,232</td>
 <td>+185</td>
 <td>126,906,743</td>
 <td>+67,048</td>
 <td>21,173,005</td>
 <td>11,984</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">83,953,371</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">1,025,764 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">81,107,296</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,820,311</td>
 <td style="font-weight: bold; text-align:right">1,794</td>
 <td style="font-weight: bold; text-align:right">250,905</td>
 <td style="font-weight: bold; text-align:right">3,066</td>
 <td style="font-weight: bold; text-align:right">1,014,741,268</td>
 <td style="font-weight: bold; text-align:right">3,032,684</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,601,743</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">43,113,413</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">524,181 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">42,570,165</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">19,067</td>
 <td style="font-weight: bold; text-align:right">698</td>
 <td style="font-weight: bold; text-align:right">30,682</td>
 <td style="font-weight: bold; text-align:right">373</td>
 <td style="font-weight: bold; text-align:right">842,458,167</td>
 <td style="font-weight: bold; text-align:right">599,545</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,405,161,912</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">29,061,523</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">147,075 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">27,928,942</span></td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">985,506</td>
 <td style="font-weight: bold; text-align:right">1,364</td>
 <td style="font-weight: bold; text-align:right">443,408</td>
 <td style="font-weight: bold; text-align:right">2,244</td>
 <td style="font-weight: bold; text-align:right">269,816,888</td>
 <td style="font-weight: bold; text-align:right">4,116,745</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,541,322</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">22,145,157</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">176,424 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">21,616,575</span></td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">352,158</td>
 <td style="font-weight: bold; text-align:right">253</td>
 <td style="font-weight: bold; text-align:right">323,064</td>
 <td style="font-weight: bold; text-align:right">2,574</td>
 <td style="font-weight: bold; text-align:right">519,264,096</td>
 <td style="font-weight: bold; text-align:right">7,575,273</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,547,249</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">17,694,677</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+35,883</td>
 <td style="font-weight: bold; text-align:right;">23,554 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+63</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">354</td>
 <td style="font-weight: bold; text-align:right">344,583</td>
 <td style="font-weight: bold; text-align:right">459</td>
 <td style="font-weight: bold; text-align:right">15,804,065</td>
 <td style="font-weight: bold; text-align:right">307,766</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,350,995</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">15,048,449</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">98,870 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">14,946,104</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">3,475</td>
 <td style="font-weight: bold; text-align:right">975</td>
 <td style="font-weight: bold; text-align:right">174,938</td>
 <td style="font-weight: bold; text-align:right">1,149</td>
 <td style="font-weight: bold; text-align:right">160,225,407</td>
 <td style="font-weight: bold; text-align:right">1,862,614</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">86,021,816</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>,
 <tr class="total_row_world row_continent odd" data-continent="Africa" role="row" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td class="sorting_1">12,014,359</td>
 <td></td>
 <td>254,170</td>
 <td></td>
 <td>11,191,877</td>
 <td></td>
 <td>568,312</td>
 <td>963</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">9,101,319</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">128,729 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">8,895,999</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">76,591</td>
 <td style="font-weight: bold; text-align:right">372</td>
 <td style="font-weight: bold; text-align:right">198,006</td>
 <td style="font-weight: bold; text-align:right">2,801</td>
 <td style="font-weight: bold; text-align:right">35,716,069</td>
 <td style="font-weight: bold; text-align:right">777,031</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,964,778</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">15</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">8,064,424</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">22,287 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">7,973,252</span></td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">68,885</td>
 <td style="font-weight: bold; text-align:right">57</td>
 <td style="font-weight: bold; text-align:right">468,721</td>
 <td style="font-weight: bold; text-align:right">1,295</td>
 <td style="font-weight: bold; text-align:right">21,107,399</td>
 <td style="font-weight: bold; text-align:right">1,226,806</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/netherlands-population/">17,205,170</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">16</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">7,226,672</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">141,198 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">7,012,770</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">72,704</td>
 <td style="font-weight: bold; text-align:right">818</td>
 <td style="font-weight: bold; text-align:right">84,044</td>
 <td style="font-weight: bold; text-align:right">1,642</td>
 <td style="font-weight: bold; text-align:right">51,622,353</td>
 <td style="font-weight: bold; text-align:right">600,356</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/iran-population/">85,986,283</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">18</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">6,093,645</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">139,809 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">5,927,076</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">26,760</td>
 <td style="font-weight: bold; text-align:right">342</td>
 <td style="font-weight: bold; text-align:right">117,437</td>
 <td style="font-weight: bold; text-align:right">2,694</td>
 <td style="font-weight: bold; text-align:right">34,560,302</td>
 <td style="font-weight: bold; text-align:right">666,049</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,888,507</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">20</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/poland/">Poland</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">6,001,893</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">116,164 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">5,335,004</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">550,725</td>
 <td style="font-weight: bold; text-align:right">981</td>
 <td style="font-weight: bold; text-align:right">158,907</td>
 <td style="font-weight: bold; text-align:right">3,076</td>
 <td style="font-weight: bold; text-align:right">36,188,226</td>
 <td style="font-weight: bold; text-align:right">958,127</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/poland-population/">37,769,758</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">22</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ukraine/">Ukraine</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">5,006,460</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">108,449 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">177</td>
 <td style="font-weight: bold; text-align:right">115,765</td>
 <td style="font-weight: bold; text-align:right">2,508</td>
 <td style="font-weight: bold; text-align:right">19,521,252</td>
 <td style="font-weight: bold; text-align:right">451,393</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/ukraine-population/">43,246,695</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">24</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/thailand/">Thailand</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">4,353,237</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+8,019</td>
 <td style="font-weight: bold; text-align:right;">29,314 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+59</td>
 <td style="font-weight: bold; text-align:right">4,246,499</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,807</td>
 <td style="text-align:right;font-weight:bold;">77,424</td>
 <td style="font-weight: bold; text-align:right">1,496</td>
 <td style="font-weight: bold; text-align:right">62,078</td>
 <td style="font-weight: bold; text-align:right">418</td>
 <td style="font-weight: bold; text-align:right">17,270,775</td>
 <td style="font-weight: bold; text-align:right">246,286</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/thailand-population/">70,124,735</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">26</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">4,102,082</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">31,580 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">3,912,251</span></td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,540</td>
 <td style="text-align:right;font-weight:bold;">158,251</td>
 <td style="font-weight: bold; text-align:right">122</td>
 <td style="font-weight: bold; text-align:right">351,111</td>
 <td style="font-weight: bold; text-align:right">2,703</td>
 <td style="font-weight: bold; text-align:right">33,779,532</td>
 <td style="font-weight: bold; text-align:right">2,891,304</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/belgium-population/">11,683,149</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>,
 <tr class="odd" role="row" style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">28</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>
 <td class="sorting_1" style="font-weight: bold; text-align:right">3,935,932</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">22,420 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">61</td>
 <td style="font-weight: bold; text-align:right">388,098</td>
 <td style="font-weight: bold; text-align:right">2,211</td>
 <td style="font-weight: bold; text-align:right">41,697,794</td>
 <td style="font-weight: bold; text-align:right">4,111,564</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/portugal-population/">10,141,589</a> </td>

In [26]:
for i in odd_class:
    att = i.find_all('td')
    if len(att)!=16:
        continue
    else:
        if att[0].text == '' or att[1].text == '':
            continue
        else:
            for j in range(16):
                if (j==0):
                    index.append(att[j].text)
                elif(j==1):
                    country.append(att[j].text)
                elif(j==2):
                    total_cases.append(att[j].text)
                elif(j==3):
                    total_deaths.append(att[j].text)
                elif(j==4):
                    total_recovered.append(att[j].text)
                elif(j==5):
                    active_cases.append(att[j].text)
                elif(j==6):
                    serious_critical.append(att[j].text)
                elif(j==7):
                    tot_cases.append(att[j].text)
                elif(j==8):
                    deaths.append(att[j].text)
                elif(j==9):
                    total_tests.append(att[j].text)
                elif(j==10):
                    tests.append(att[j].text)
                elif(j==11):
                    population.append(att[j].text)
                elif(j==12):
                    region.append(att[j].text)
                elif(j==13):
                    case_every.append(att[j].text)
                elif(j==14):
                    death_every.append(att[j].text)
                elif(j==15):
                    test_every.append(att[j].text)

In [27]:
data = {'Country': country, 'Total Cases': total_cases, 'Total Death': total_deaths,
       'Total Recovered': total_recovered, 'Active Cases': active_cases, 'Serious Critical': serious_critical,
       'Tot cases/1M pop': tot_cases, 'Deaths/1M pop': deaths, 'Total tests': total_tests, 'Tests/ 1M pop': tests,
       'region': region, 'population': population, '1 Case every X ppl': case_every, '1 death every X ppl': death_every,
       '1 Test every X ppl': test_every}

In [28]:
df = pd.DataFrame(data)

In [29]:
df

Empty DataFrame
Columns: [Country, Total Cases, Total Death, Total Recovered, Active Cases, Serious Critical, Tot cases/1M pop, Deaths/1M pop, Total tests, Tests/ 1M pop, region, population, 1 Case every X ppl, 1 death every X ppl, 1 Test every X ppl]
Index: []

In [14]:
df.to_csv('newn_data.csv')

In [15]:
df.drop_duplicates()

,Country,Total Cases,Total Death,Total Recovered,Active Cases,Serious Critical,Tot cases/1M pop,Deaths/1M pop,Total tests,Tests/ 1M pop,region,population,1 Case every X ppl,1 death every X ppl,1 Test every X ppl
0,USA,"82,416,687",,"1,016,159",,"80,276,197",,"1,124,331","1,436","246,399","997,115,318","3,038","2,981,044","334,485,290",North America
1,India,"43,047,594",,"522,006",,"42,513,248",,"12,340",698,"30,653","832,506,755",372,"592,807","1,404,347,026",Asia
2,France,"27,816,299",,"144,387",,"25,301,145",,"2,370,767","1,541","424,465","260,504,402","2,203","3,975,184","65,532,665",Europe
3,UK,"21,863,944",,"171,878",,"20,498,917",,"1,193,149",355,"319,061","512,140,269","2,508","7,473,679","68,525,857",Europe
4,S. Korea,"16,583,220","+111,280","21,520",+166,N/A,N/A,N/A,808,"322,955","15,804,065",419,"307,781","51,348,351",Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,Chad,"7,396",+18,193,+1,"4,874",,"2,329",,428,"191,341",11,"11,079","17,270,935",Africa
330,Vanuatu,"6,386",+54,7,,"5,445",+145,934,5,"19,955","24,976",22,"78,046","320,016",Australia/Oceania
331,Sao Tome and Principe,"5,953",+5,73,,"5,875",+3,5,,"26,287","29,036",322,"128,217","226,459",Africa
334,Cook Islands,"3,941",,,,"3,389",,552,,"224,010","14,341",,"815,154","17,593",Australia/Oceania
339,Western Sahara,10,,1,,8,,1,,16,,2,,"623,675",Africa